<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SiteBuilder Housetype_Library Page</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'SB_app/style.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row vsize_100">
        <div class="col-9" id="homepage_contents">
          <div class="vsize_10">
            <div class="vsize_5"></div>
            <div class="vsize_90">
              <div class="solid_border">
                <h3 class="page_header">Housetype Library</h3>
              </div>
            </div>
            <div class="vsize_5"></div>
          </div>

          <div class="vsize_10">
            <div class="row toggle_views">
              <button type="button" class="col btn btn-primary toggle_view_button">List</button>
              <button type="button" class="col btn btn-primary toggle_view_button">Map</button>
            </div>
          </div>

          <div class="vsize_10">
            <form class="search_form vsize_100">
              <input class="search_box form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
          </div>

          <div class="vsize_70">
            <div id="all_ht_objects">
              <table>
                <tr>
                  <td><div class="card"><div class="row card-body">Housetype Name</div></div></td>
                  <td><div class="card"><div class="row card-body">Configuration Beds</div></div></td>
                  <td><div class="card"><div class="row card-body">Storeys</div></div></td>
                  <td><div class="card"><div class="row card-body">Sales sq ft</div></div></td>
                  <td><div class="card"><div class="row card-body">Build sq ft</div></div></td>
                  <td><div class="card"><div class="row card-body">Build cost £</div></div></td>
                  <td><div class="card"><div class="row card-body">Build cost £ / sq ft</div></div></td>
                  <td><div class="card"><div class="row card-body">Build Weeks</div></div></td>
                  <td><div class="card"><div class="row card-body">Depth (m)</div></div></td>
                  <td><div class="card"><div class="row card-body">Width (m)</div></div></td>
                  <td><div class="card"><div class="row card-body">NDSS</div></div></td>
                  <td><div class="card"><div class="row card-body">NDSS Description</div></div></td>
                  <td><div class="card"><div class="row card-body">Accessibility</div></div></td>
                  <td><div class="card"><div class="row card-body">Parking Spaces / Garage</div></div></td>
                  <td><div class="card"><div class="row card-body">Plotting sq ft</div></div></td>
                </tr>
                {% if ht_objects %}





                  <tr>
                  {% for s in ht_objects %}
                    {% if s.name %}
                      <td>{{s.name}}</td>
                    {%endif%}                  
                    {%endfor%}
                  </tr>





                {% endif %}	
              </table>
            </div>
          </div>
        </div>
        
      

        <div class="col-3">
          <div class="vsize_20 separating_left_line separating_bottom_line separating_right_line">
            <div class="padded_button">
              <a class="page_link btn btn-primary togglebuttons" role="button" href="{% url 'homepage' %}">Homepage</a>
            </div>
            <div class="padded_button">
              <a class="page_link btn btn-primary togglebuttons" role="button" href="{% url 'settings' %}">Settings</a>
            </div>
          </div>
          <div class="vsize_80 separating_left_line separating_right_line" id="homepage_form_content">
            <div id="homepage_form">
              {% if form %}
                <form action="" method="post" enctype="multipart/form-data" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Add site">
                </form>
              {% endif %}
            </div>
            <div id="valid_form_text">
              {% if valid_form %}
                <h2>You've submitted a form!</h2>
              {% elif name_violation %}
                <h2>A site with that name already exists.</h2>
              {% elif invalid_form %}
                <h2>You've submitted the form wrong!</h2>
              {% else %}
                <h2>Nothing has been submitted.</h2>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  </body>
</html>