{% extends "SB_app/blocks/base.html" %}
{% load render_table from django_tables2 %}


{% block title %} <title>Housetype Library Page</title> {% endblock %}
{% block page_header %} <h2>Housetype Library</h2> {% endblock %}

{% block left_side_content %}
<div class="row">
  <div class="col-12 child-25">
    {% include 'SB_app/blocks/htl_bb_button_section.html' %}
  </div>
  <div class="col-12 child-75">
    <div class="scrollable-table">
      {% render_table housetype_table %}
    </div>
  </div>
</div>
{% endblock %}
