<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %} <title>SiteBuilder</title> {% endblock %}
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'examplestylefolder/examplestyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container-fluid whole-page">
      <div class="row">
        <div class="col-9 page-left-side p-3">
          <div class="row gy-1">
            <div class="col-12 header-section child-25 p-5">
              {% block page_header %} <h2>My Sites</h2> {% endblock %}
            </div>
            <div class="col-12 left-side-subsection child-75 p-3">
                {% block left_side_content %}{% endblock %}
            </div>
          </div>
        </div>

        <div class="col-3 page-right-side p-3">
          <div class="row gy-1">
            <div class="col-12 right-side-subsection child-33 p-3">
              {% include "blocks/button_section.html" %}
            </div>
            <div class="col-12 right-side-subsection child-33 p-3">
              {% block form_section %}
              {% include "blocks/form_section.html" %}
              {% endblock %}
            </div>
            <div class="col-12 right-side-subsection child-33 p-3">
              {% block form_result_section %}
              {% include "blocks/form_result_section.html" %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>