html,
body {
  height: 100%;
  margin: 0;
}
.container-fluid {
  background-color: lightgrey;
  text-align: center;
  height: 100%;
  
  border-width: thick;
  border-style: inset;
  border-color: darkgrey;
  
}
#wrapper {
  height: 100%;
}
.wrapper_border {
  border-width: thick;
  border-style: solid;
  border-color: darkgrey;
}
.row {
  height: auto;
}
.row_half {
  height: 50%;
}
.row_20 {
  height: 20%;
}
.row_80 {
  height: 80%;
}

.padded_button {
  padding-top: 1%;
  padding-bottom: 1%;
}
.page_link {
  width: 100%;
}

.url_column, #homepage_form_content{
  display: grid;
  place-items: center;
}

/* #urls {
    padding-top: 2%;
    padding-bottom: 2%;
}

#site_form {
    padding-top: 2%;
    padding-bottom: 2%;
} */

.url {
    padding-top: 5%;
    padding-bottom: 5%;
}

#homepage_header {
    border-width: thick;
    border-style: inset;
    border-color: darkgrey;
}



